body {
  background-color: #e1deff;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

h3 {
  font-family: "Dosis", sans-serif;
  font-size: 28px;
  color: #5f27cd;
}

.footer {
  margin: auto;
  text-align: center;
  position: absolute;
  line-height: 1.8;
  width: 150px;
  height: 30px;
  border: 2px solid #5f27cd;
  border-radius: 10px;
  bottom: 50px;
}

.footer a {
  color: #5f27cd;
  font-family: "Dosis", sans-serif;
  text-decoration: none;
}

.form {
  position: relative;
}

input {
  width: 350px;
  height: 60px;
  padding: 10x;
  padding-left: 60px;
  border-radius: 10px;
  background-color: #5f27cd;
  border: none;
  color: white;
  font-size: 24px;
  font-family: "Dosis", sans-serif;
  outline: none
}

.ico {
  position: absolute;
  top: 15px;
  left: 15px;
  color: white;
  font-size: 28px;
}

.blink {
  transform: rotate(90deg);
  animation: outFocus 1s infinite ease-in-out;
}

.search {
  transition: 1s;
  animation: onFocus 1s 1 ease-in-out;
}

@keyframes outFocus {
  to {
    opacity: 0;
  }
  from {
    opacity: 1;
  }
}

@keyframes onFocus {
  to {
    transform: rotateY(0deg);
  }
  from {
    transform: rotateY(90deg);
  }
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
